body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 150px;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
}

input.invalid {
    border: 1px solid #ff0000; 
}

button {
    background-color: rgb(52, 52, 252);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 52, 252);
}

button:focus {
    background-color: rgb(24, 24, 235);
    transform: translateY(-5px);
}

#logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; 
    align-items: center;
    padding-bottom: 10px; 
    text-align: center;
}


.result-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}


.result-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding:20px;
    border-radius: 8px;
}

#triangleImage {
    width: 100%;
    height: auto;
    background: url('imagestriangle.png') no-repeat center center;
    background-size: contain;
    margin-top: 20px;
    margin-bottom: 10px;
}

